{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">  
        <title>The Star Charts</title>
        {% comment %} <link rel="icon" type="image/x-icon" href="{% static "images/Charlie's_Big.png" %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static "styles.css" %}">
    </head>
    <body class="silly">
        <br><br><br><br><br>
        <div class="Outer">
            <div class="InnerNoBar">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>