{% extends "base2.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="TextBubble2">
    <br>
    <div class="HomeDiv">
        <a href="{% url "Front" %}"><button class="HomeButton">Home</button></a>
    </div>
    <h3>Documenter Sign In</h3>
    <form method="POST" action="">
    {% csrf_token %}
    <h4>Name:<h4>
    <input type="text" name="username" class="Input_">
    <h4>Password:<h4>
        <input type="password" name="password" class="Input_">
    <br><br>
    <input type="submit" name="SignInUser">
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endblock content%}   