{% extends "base2.html" %}
{% load widget_tweaks %}
{% block content %}
                <div class="TextBubble2">
                    <h3>Explorer Sign Up</h3>
                    <form method="POST" action="">
                    {% csrf_token %}
                    <h4>Name:<h4>
                    {% render_field form.name class="Input_" %}
                    <h4>Password:<h4>
                    {% render_field form.password class="Input_" %}
                    <h4>Repeat Password:<h4>
                    {% render_field form.password_repeat class="Input_" %}
                    <br><br>
                    <input type="submit" name="CreateUser">
                    {% if form.errors %}
                    <p>Password and Repeat Password do not match!</p>
                    {% endif %}
                    </form>
                </div>
{% endblock content %}
