{% extends "base.html" %}
{% block content %}
<div class="Bruh">
<a href="{% url "CHARTS_D" %}"><button class="HomeButton1">Back</button></a>
<a href="{% url "ADD_S" %}"><button class="HomeButton1">Document System</button></a>
</div>
<div class="Wrap">
{% for I in test %}
<div class="TextBubble4">
    <h2>The {{I.name}} System</h2>
    <div class="Flex">
    <p>Planet Amount: {{I.planet_amount}}</p>
    </div>
    <div class="Flex">
    <p>Star's Name: {{I.star_name}}</p>
    </div>
    <div class="Flex">
        <p>Stars Type: {{I.star_type}}</p>
    </div>
    <div class="Flex">
    <p>Documented by: {{I.documented_by}}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}